body{
    background-color:white;
}
div{
    
    background-color: white;
    width: 400px;
    height: 450px;
    border-radius:10px;
    text-align: center;
    margin: auto;
    margin-top: 155px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: animacja 0.6s;
  
}
/*logowanie*/
#login{
  width: 370px;
  height: 50px;
  margin-top: 15px;
  border: 1px rgb(218, 218, 218) solid;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: rgb(150, 150, 150)
}
#password{
    width: 370px;
    height: 50px;
    margin-top: 15px;
    border: 1px rgb(218, 218, 218) solid;
    border-radius: 7px;
    font-size: 17px;
    text-align: center;
    color: rgb(150, 150, 150)
}
.zaloguj{
    margin-top: 15px;
    width:370px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    color: white;
    background-color: rgb(0,94,255);
    border: 1px rgb(0,94,255)solid;
    border-radius: 10px;
    transition:opacity 0.2s, scale 0.2s;
    margin-bottom: 20px;
}
.zaloguj:hover{
    background-color: rgb(0,110,255);
    scale: 98%;
}





.line{
    height: 1px;
    border: 0px;
    background-color: rgb(218, 218, 218);
    width: 370px;
    
    
}
section{
    padding-top: 10px;
    padding-bottom: 5px;
}
.password-problem{
    color: red;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
}
.password-problem:hover{
    color: rgb(100, 0, 0);
    text-decoration: underline;
}


.logo{
    font-size: 25px;
    font-weight: 600;
}

.hr2{
    width: 400px;
    border: 0;
    height: 1px;
    background-color:rgb(218, 218, 218)
}


.create{
    background-color: seagreen;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border: 1px seagreen;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    color: white;
    transition: background-color 0.2s, transform 0.2s;
}
:hover.create{
    background-color:rgb(36, 109, 68);
    transform: scale(98%);
    
}
@keyframes animacja{
    0%{
        transform: translateY(-1000px);
        opacity: 0;
    }
    40%{
        transform: translateY(80px);
        opacity: 0.5;
    }
100%{
    transform: translateY(0px);
    opacity: 1;
}
}

